@import url("https://use.typekit.net/ouf7qfb.css");

/* Global styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'mrs-eaves-xl-serif', serif;
    box-sizing: border-box;
}
.header{
    font-family: 'montserrat', sans-serif;
}
/* Home Landing Content  */
.home{
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 100vh;
    align-items: center;
    
    background-image: url('img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-image img{
    max-width: 75%;
    height: auto;
    margin-left: 5%
}
.home-sidebar img{
    height: 100vh;
    width: 100%;
    vertical-align: middle; 
}
/* Intoduction */
.intro{
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: auto;
    align-items: center;
    background-color: #fff;
    color: #363636;
}
.intro-text{
    margin: 10%;
    line-height: 1.5;
}
.intro-text h3{
    text-transform: uppercase;
}
.intro-sidebar img{
    height: 100vh;
    width: 100%;
    vertical-align: middle;
}
/* Logo Specifications - Define and Display */
.logo-specs{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75vh;
    align-items: center;

    background-color: #363636;
    color: #fff;   
    overflow: auto; 
}
.logo-define{
    margin: 10%;
    line-height: 1.5;
}
.logo-define h2{
    margin-bottom: 2em;
    text-transform: uppercase;
}
.logo-define h3{
    margin: 0;
}
.logo-define p{
    margin-top: 0;
}
.logo-display{
    background-color: #EEEFF1;
}
.logo-display img{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
/* Branding Samples - Logo over brand colors */
.branding-samples{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh 25vh;      
    
}
.branding-samples img{
    max-width: 65%;
    height: auto;  
    display: block;
    margin: 35% auto;
}
#white-sample, #orange-sample, #black-sample, #blue-sample{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
#white-sample{
    background-color: #fff;
}
#orange-sample{
    background-image: url('img/orange-gradient.png');
}
#black-sample{
    background-image: url('img/dark-grey.png');
}
#blue-sample{
    background-image: url('img/blue-gradient.png');
}
/* Color Section */
.primary-colors{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    align-items: center;

    background-color: #fff;
    color: #363636;
    overflow: auto;
}
.color-define{
    margin: 10%;
    line-height: 1.5;
}
.color-define h3{
    text-transform: uppercase;
}
.color-display ul{
    list-style-type: none;
}
.color-display li{
    margin: 5px;
}
.color-display p{
    display: inline-block;
    vertical-align: middle;
    padding-left: 7%;
}
.color-display img{
    vertical-align: middle;
}  
/* Typography Section */
.typography{
    background-image: url('img/blue-gradient-sq.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}
.typography-define{
    margin: 10%;
    line-height: 1.5;  
    color: #fff;  
}
.typography-define h3{
    text-transform: uppercase;
}
.typography-display{
    background-color: #F6F6F6;
    height: 100%;
    padding: 10%;
}
.montserrat-display{
    font-family: 'montserrat', sans-serif;
}
.lato-display{
    font-family: 'lato', sans-serif;
}
.mrseaves-display{
    font-family: 'mrs-eaves-xl-serif', serif;
}
/* Photography Section */
.photography{
    background-color: #363636;
    color: #F6F6F6;
    overflow: auto;
}
.photo-define{
    margin: 10%;
    line-height: 1.5;
}
.photo-define h3{
    text-transform: uppercase;
}
.photo-display img{
    max-width: 90%;
    display: block;
    margin: 5% auto;
}
/* Footer of Page */
footer{
    background-color: #F6F6F6;
    color: #363636;
    padding: 2% 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
footer a:link, a:visited{
    text-decoration: none;
    color: #363636;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .home-image img{
        width: 50%;
        height: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    /* Home Landing Content */
    .home-image img{
        width: 45%;
        height: auto;
        margin-left: 7%;
    }
    /* Intro Section */
    .intro-text{
        margin: 12%;
        font-size: 1.15em;
    }
    /* Logo Specifications - Define and Display */
    .logo-specs{
        grid-template-columns: 33vw 1fr;
        grid-template-rows: 80vh;
        align-items: center;
    }
    .logo-define{
        margin: 15%;
        font-size: 1.15em;
    }
    .logo-display{
        height: 100%;
    }
    .logo-specifics-image{
        max-width: 75%;
        height: auto;
        display: block;
        margin: 10% auto 0 auto;
    }
    .solo-logo{
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    /* Branding Sample */
    .branding-samples img{
        margin: 25% auto;
    }
    /* Colors Section */
    .primary-colors{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        align-items: center;
        font-size: 1.15em;
    }
    /* Typography Section */
    .typography{
        display: grid;
        grid-template-columns: 33vw 1fr;
        grid-template-rows: auto;
        align-items: center;
    }
    .typography-define{
        margin: 12%;
        font-size: 1.15em;
    }
    .typography-display{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        height: 100%;
        overflow: auto;
    }
    /* Photography Section */
    .photography{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }
    .photo-define{
        margin: 12%;
        font-size: 1.15em;
    }  
    /* Footer Section */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }
    footer p{
        text-align: left;
    }
    footer a{
        text-align: right;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    /* Home Image */
    .home-image img{
        width: 40%;
        height: auto;
        margin-left: 10%;
    }
    /* Intro Text */
    .intro-text{
        margin: 0 25%;
    }
    /* Logo Specific Image */
    .logo-specifics-image{
        width: 60%;
        height: auto;
    }
    .solo-logo{
        width: 35%;
        height: auto;
    }
    /* Brandind Samples */
    .branding-samples{
        grid-template-rows: 45vh 45vh;
    }
    .branding-samples img{
        width: 50%;
        height: auto;
        margin: 15% auto;
    }
    .color-define{
        margin: 12%;
    }
    .photo-display img{
        max-width: 70%;
        display: block;
        margin: 15% auto;
    }   
}